<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cellular-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <label>93%</label><ion-icon name="battery-charging"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/user']">
       <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-datetime [value]="dateTime"></ion-datetime>
      </ion-button>
      <ion-button> 
        <label>23 Deg C</label><ion-icon name="cloudy-outline"></ion-icon> 
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div #mapElement id="gmap" style="height:100%;"></div>
   

  <ion-card *ngIf="!rightbar" class="transparent-card" style="position: absolute;top: 0px;right: 0px;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;">
    <ion-row class="ion-text-left">
      <ion-col size="12">
    <ion-icon (click)="right_bar_fun()" style="font-size: 4vh;" name="options" ></ion-icon>
    </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="transparent-card" style="width: 25%;position: absolute;top: 0px;left: 0px;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;">
    <ion-row>
      <ion-col class="ion-text-left" style="padding-bottom: 0px;">
        <ion-text style="font-weight: 400;font-size: 15px; color: grey;"> NAVIGATION</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-left">
        <ion-searchbar style="padding-top: 0px;padding-bottom: 0px;" showCancelButton="always"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-card>


   <ion-card *ngIf="rightbar" class="transparent-card" style="width: 25%;position:absolute;top:0px;right:0px;padding-bottom: 0px;padding-top: 0px;">

    <ion-icon (click)="right_bar_fun()" style="font-size: 6vh;position:absolute;top:0px;right:0px;" name="close"></ion-icon>

    <ion-row class="ion-text-left">
     <ion-col size="10">
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-weight: 500;font-size: 24px">90 km</ion-text> 
        </ion-col>
        <ion-col size="12">
          <ion-text style="font-weight: 300;font-size: 12px">Estimated range</ion-text>
        </ion-col>
      </ion-row>
     </ion-col> 
    </ion-row>


    <ion-row>
      <ion-col class="ion-text-left">
        <ion-text style="font-weight: 400;font-size: 18px; color: grey;"> DRIVE</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-top: 2%; padding-bottom: 2%;" class="ion-text-center">
        <ion-text style="font-weight: 500;font-size: 50px"> 23</ion-text>
        <ion-text style="font-weight: 500;font-size: 24px" > km/h </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="pbutton()"  size="medium" expand="block" [disabled]="pstatus"> P </ion-button>
        
      </ion-col>
      <ion-col>
        <ion-button  (click)="dbutton()" size="medium" expand="block" [disabled]="dstatus"> D </ion-button>
        
      </ion-col>
      <ion-col>
        <ion-button (click)="rbutton()" size="medium" expand="block" [disabled]="rstatus"> R </ion-button>
      </ion-col>
    </ion-row>
    <!-----Break -----> 
    <ion-row >
      <ion-col>
        <ion-button (click)="switchbutton()" size="medium" expand="block" fill="solid" [color]="powercolor" [disabled]="switchstatus"> {{power}} </ion-button>
      </ion-col>
    </ion-row>
 

  </ion-card>
</ion-content>